.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding: 0 27px 31px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 720px) {
  .header {
    padding: 0 15px 41px;
    flex-direction: row;
  }
}